QRR_SERVER__HOST=127.0.0.1
QRR_SERVER__PORT=8765
QRR_RUNTIME__BACKEND=auto
QRR_RUNTIME__OLLAMA__BASE_URL=http://127.0.0.1:11434
QRR_RUNTIME__LMSTUDIO__BASE_URL=http://127.0.0.1:1234
QRR_RUNTIME__LLAMACPP__BASE_URL=http://127.0.0.1:8080
QRR_STATE__DATABASE=./data/runtime.db

